<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Add Song</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Add new song to database</h1>

    <!--Creating Form to pass data  -->
    <form class="add-form" method="POST" action="/api/add">
      <label for="title">Title:</label>
      <input
        type="text"
        placeholder="Write title"
        name="title"
        value="<%= song.title %>"
        required
      /><br />
      <label for="artist">Artist:</label>
      <input
        type="text"
        placeholder="Write artist"
        name="artist"
        value="<%= song.artist %>"
        required
      /><br />
      <label for="year">Year:</label>
      <input
        type="number"
        placeholder="Write release year"
        name="year"
        value="<%= song.year %>"
      /><br />
      <label for="img_url">Img-url:</label>
      <input
        type="text"
        id="img_url"
        placeholder="Write url to poster"
        name="img_url"
        value="<%= song.img_url %>"
      /><br />
      <label for="url">Url:</label>
      <input
        type="text"
        placeholder="Write url where to listen the song"
        name="url"
        value="<%= song.url %>"
      /><br />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
